<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058286165005-1hdhmktia8s6dav9ctkio2i2p889ij56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058286165005-1hdhmktia8s6dav9ctkio2i2p889ij56</string>
	<key>API_KEY</key>
	<string>AIzaSyCCqqiHwzNpOtfIY73DOzV9xZOoRTG335g</string>
	<key>GCM_SENDER_ID</key>
	<string>1058286165005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelabeyer.ParonSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>paronapp-4374f</string>
	<key>STORAGE_BUCKET</key>
	<string>paronapp-4374f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058286165005:ios:b284ad592196938bac8944</string>
</dict>
</plist>